<div style="border: 10px solid blue; padding: 20px; font-family: Arial, sans-serif; text-align: center;">

# *RÉPUBLIQUE DU SÉNÉGAL*      
<div style="text-align: center;">
    <h3>Un peuple - un But - une Foi</h3>
</div>

<img src="Republique_du_Senegal.jpg" alt="Logo République du Sénégal" style="width: 100px; margin-top: 10px;">

---

## *Agence Nationale de la Statistique et de la Démographie*  
<img src="ANSD.jpg" alt="Logo ANSD" style="width: 120px; margin-top: 10px;">  

### *École Nationale de la Statistique et de l'Analyse Économique Pierre Ndiaye*  
<img src="ENSAE-Dakar-logo.jpg" alt="Logo ENSAE" style="width: 120px; margin-top: 10px;">

---

<div style="background-color: blue; color: white; text-align: center; padding: 10px; font-weight: bold; display: inline-block;">
Projet de Machine Learning 2
</div>

<div style="text-align: center;">
    <h3>Sujet :</h3>
</div>
    
    
---
    
## *Churn Score*  

---

<div style="text-align: center;">
    <h3>Rédigé par :</h3>
    <p style="font-size: 20px; text-align: center;">
        FAMARA SADIO<br>
        SARAN NDIAYE<br>
        AMADOU YOUM<br>
        Sié Rachid TRAORE<br>
</div>

---

<div style="text-align: center;">
    <h3>Sous la supervision de :</h3>
    <p style="font-size: 20px; text-align: center;">
        MOUSLY DIAW<br>
        Data scientist / ML Engineer / Auto-Entrepreneur
    </p>
</div>
    
---

    © ISE2_Mai 2025
    
</div>

## <b>PLAN</b>

## I. Data pre-processing

## II. Summary statistics

## III. Data vizualisation

## IV. Features selection

<div style="background-color: RGB(51,165,182); text-align: left;">
    <h1 style="margin: auto; padding: 20px; color:#fff;"><b>INTRODUCTION & OBJECTIF</b></h1>
</div>
---

<div style="background-color: RGB(51,165,182); text-align: left;">
    <h1 style="margin: auto; padding: 20px; color:#fff;"><b>I. Data pre-processing</b></h1>
</div>

## I.1. Importation des librairies

In [1]:
from pathlib import Path

import dill
import matplotlib.pyplot as plt
import missingno as msno
import numpy as np
import pandas as pd
import pendulum
import plotly.graph_objects as go
import plotly.express as px
import seaborn as sns
from imblearn.pipeline import Pipeline as imb_Pipeline
from loguru import logger
from sklearn import set_config
from sklearn.compose import make_column_transformer, ColumnTransformer
from sklearn.dummy import DummyClassifier
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import (confusion_matrix,
                             classification_report,
                             ConfusionMatrixDisplay,
                             roc_auc_score,
                             accuracy_score,
                             precision_score,
                             recall_score,
                             f1_score,
                             RocCurveDisplay,
                             PrecisionRecallDisplay,
                            )
from sklearn.model_selection import train_test_split, GridSearchCV, StratifiedKFold
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler, OrdinalEncoder, OneHotEncoder
from ucimlrepo import fetch_ucirepo, list_available_datasets
from yellowbrick.classifier import DiscriminationThreshold

set_config(display='diagram')
pd.set_option("display.max_columns", None)

## I.2. Importation de la base de données

In [5]:
# Importation de la base de données
data = pd.read_csv('Churn_Modelling .csv')
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42.0,2,0.00,1,1.0,1.0,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41.0,1,83807.86,1,0.0,1.0,112542.58,0
2,3,15619304,Onio,502,France,Female,42.0,8,159660.80,3,1.0,0.0,113931.57,1
3,4,15701354,Boni,699,France,Female,39.0,1,0.00,2,0.0,0.0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43.0,2,125510.82,1,NaN,1.0,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9997,9998,15584532,Liu,709,France,Female,36.0,7,0.00,1,0.0,1.0,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42.0,3,75075.31,2,1.0,0.0,92888.52,1
9999,9999,15682355,Sabbatini,772,Germany,Male,42.0,3,75075.31,2,1.0,0.0,92888.52,1
10000,10000,15628319,Walker,792,France,Female,28.0,4,130142.79,1,1.0,0.0,38190.78,0
10001,10000,15628319,Walker,792,France,Female,28.0,4,130142.79,1,1.0,0.0,38190.78,0

### Présentation des variables

## I.3 Traitement de données

## I.4.Traitement des valeurs manquantes

## I.5. Imputation des valeurs manquantes par le mode

<div style="background-color: RGB(51,165,182); text-align: left;">
    <h1 style="margin: auto; padding: 20px; color:#fff;"><b>II. Summary Statistics</b></h1>
</div>

## Description des variables quantitatives

## Description des variables qualitatives

<div style="background-color: RGB(51,165,182); text-align: left;">
    <h1 style="margin: auto; padding: 20px; color:#fff;"><b>III. Data Vizualisation</b></h1>
</div>

## Nuage de points des variables

## Diagramme de corrélation

## Analyse des valeurs extrêmes (visualisation des variables quantitatives)